.userInfoScreen {
    width: 100%;
    background-color: #fff;
    background-color: #f1f4f1;
}
.userInfoScreen-mid {
    max-width: 1240px;
    width: 1240px;
    margin: auto;
    padding: 40px 0;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.userInfo-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    margin: 0 20px;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
}
.userInfo-form-title, .Pinfo-title {
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background-color: #025048;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 400;
}
.userInfo-form-ul {
    margin: 20px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.userInfo-form-li {
    display: flex;
    flex-direction: column;
}
.userInfo-form-button {
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    background-color: #025048;
    color: #fff;
}
.userInfo-form-button:hover {
    background-color: #029b8c;
    transition: all 0.2s ease;
    cursor: pointer;
}
.userInfo-form-input-group {
    display: flex;
    flex-direction: row;
}
.userInfo-form-input-group label {
    display: flex;
    flex-direction: row;
}
.PersonalInfo {
    width: 50%;
    margin: 0 20px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
}
.Pinfo {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
.Pinfo1 {
    font-weight: 500;
}
.PersonalInfo-button {
    height: 40px;
    width: 140px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #025048;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.PersonalInfo-button:hover, .PersonalInfo-button2:hover {
    cursor: pointer;
    background-color: #029b8c;
    transition: all 0.2s ease;
}
.PersonalInfo-button2 {
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    bottom: 30px;
    background-color: #025048;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}