.product {
    display: flex;
    flex-direction: column;
  }
  
  .product-best-choice {
    height: 800px;
    width: 100%;
    background-color: #f1f4f1;
  }
  
  .box-with-margin {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
  }
  
  .product-best-choice-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 30px;
  }
  
  .product-best-choice-left h6 {
    font-size: 32px;
    line-height: 50px;
    margin: 10px 0;
    font-weight: 200;
  }
  
  .product-best-choice-left p {
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
    font-weight: lighter;
  }
  
  .product-best-choice-image {
    height: 350px;
    width: 50%;
    margin: 10px 10px;
    position: relative;
  }
  
  .product-best-choice-2img {
    display: flex;
    flex-direction: row;
  }
  
  .product-best-choice-image img {
    height: 100%;
    width: 100%;
  }
  
  .product-best-choice-right {
    width: 50%;
    margin-left: 30px;
  }
  
  .product-best-choice-image-intro {
    width: 94%;
    height: 70px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
  }
  
  .product-best-choice-image-intro h6 {
    font-size: 20px;
    font-weight: 200;
    margin: 0 20px;
    line-height: 40px;
  }
  
  .product-best-choice-image-intro p {
    font-size: 16px;
    margin: 0 20px;
    line-height: 30px;
  }
  
  .product-most-popular {
    width: 100%;
    background-color: #fff;
    margin-top: 40px;
  }
  
  .box-with-margin-popular {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .product-most-popular-table {
    max-width: 1240px;
    display: flex;
    margin: 30px 0;
  }
  
  .product-most-popular-body {
    width: 100%;
    display: flex;
  }
  
  .most-popular-table-row {
    display: flex;
    max-width: 1240px;
    width: 100%;
  }
  
  .most-popular-table-cl1,
  .most-popular-table-cl2, .most-popular-table-cl3,
  .most-popular-table-cl4 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 0 15px;
  }
  
  .most-popular-table-cl1 img,
  .most-popular-table-cl2 img, .most-popular-table-cl3 img,
  .most-popular-table-cl4 img {
    height: 250px;
    width: 200px;
  }
  
  .box-with-margin-popular p {
    margin: 0;
    font-size: 32px;
    line-height: 50px;
    font-weight: 400;
    color: #025048;
  }
  
  .box-with-margin-popular .product-most-popular-title {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .most-popular-table-row .most-popular-table-name-product {
    font-size: 18px;
    line-height: 40px;
    text-align: left;
    width: 100%;
  }
  
  .most-popular-table-row .most-popular-table-price {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    width: 100%;
  }
  
  .most-popular-table-row img:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .most-popular-table-row
  .most-popular-table-name-product:hover {
    color: #05b144;
    cursor: pointer;
  }

  .detail-product {
    position: fixed;
    /* position: absolute; */
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-product-middle {
    height: 520px;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.detail-product-middle-left {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-product-middle-left-box {
    height: 350px;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.detail-product-middle-left-img {
    height: 250px;
}
.detail-product-middle-left-name {
    flex: 1;
    margin: 0;
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 500;
    text-align: center;
}
.detail-product-middle-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-product-middle-right-box {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2);
}
.detail-product-middle-right-top {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: rgba(2, 80, 72, 0.1);
}
.detail-product-middle-right-evaluate {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
    padding: 0 20px;
}
.detail-product-middle-right-rate {
    display: flex;
    flex: 1;
    margin: 0 30px;
    justify-content: flex-end;
    font-size: 18px;
    line-height: 60px;
}
.detail-product-middle-right-ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.detail-product-middle-right-li {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin: 10px 15px 0px 15px;
    border-bottom: 1px solid #c3c3c3;
}
.detail-product-middle-right-user {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.detail-product-middle-right-name {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}
.detail-product-middle-right-star {
    height: 30px;
}
.detail-product-middle-right-date {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}
.detail-product-middle-right-comment {
    margin: 5px 0;
    flex: 1;
    font-size: 16px;
    line-height: 30px;
}
.detail-product-middle-right-ava {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 15px;
}
.detail-product-middle-svg {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 3px;
    right: 10px;
    fill: #c2c2c2;
}
.detail-product-middle-svg:hover {
    fill: #970b0b;
    cursor: pointer;
    transition: all 0.2s;
}
.detail-product-middle-right-star span {
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #eeeb22;
}