.header-homepage {
    height: 100vh;
    width: 100%;
    background-color: #025048;
}

.header-homepage-withmargin {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-header-homepage {
    height: 100px;
    display: flex;
    flex-direction: row;
}

.sub-nav-header-homepage {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sub-nav-header-homepage-name {
    line-height: 100px;
    font-size: 30px;
    color: #fff;
    justify-content: flex-start;
}

.list-nav-header-homepage {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100px;
    justify-content: center;
}

.list-nav-header-homepage a, .list-nav-header-homepage li button {
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    font-weight: lighter;
    box-sizing: unset;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
}

.list-nav-header-homepage li button {
    background-color: #025048;
    border: none;
    font-weight: lighter;
}

.sub-nav-header-homepage-contain-avt {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 0;
    align-items: center;
}

.sub-nav-header-homepage-contain-avt img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.sub-nav-header-homepage-bell {
    height: 30px;
    width: 30px;
    fill: #fff;
    margin: 0 20px;
}

.list-nav-header-homepage li, .sub-nav-header-homepage-bell {
    transition: transform 0.3s ease;
}

.list-nav-header-homepage li:hover, .sub-nav-header-homepage-bell:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.header-homepage-under-nav {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.header-homepage-under-nav-introduce {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-homepage-under-nav-introduce p {
    margin: 20px 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.header-homepage-under-nav-introduce .header-homepage-under-nav-logan {
    font-size: 44px;
    line-height: 60px;
    text-transform: unset;
}

.header-homepage-under-nav-image {
    flex: 1;
    position: relative;
}

.header-homepage-under-nav-i1 {
    height: 570px;
    width: 450px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

.header-homepage-under-nav-i1 img {
    width: 450px;
}

.header-homepage-under-nav-i2 {
    height: 250px;
    width: 330px;
    position: absolute;
    left: 50px;
    top: 250px;
}

.header-homepage-under-nav-i2 img {
    height: 250px;
    width: 330px;
}
.sub-nav-header-homepage2 {
    width: 50%;
}