.gift_exchange {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f1f4f1;
    padding: 40px 0;
  }
  .gift_exchange-middle {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .gift-exchange-title {
    margin: 0;
    font-size: 32px;
    line-height: 50px;
    font-weight: 400;
    color: #025048;
    height: 50px;
    width: 100%;
  }
  .gift-under-title {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .box-giftPoint {
    height: 460px;
    width: 900px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  .box-giftPoint-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    height: 400px;
    margin: 30px 0;
    border-right: 2px solid #bdbdbd;
  }
  .box-giftPoint-left-ul {
    margin: 0 0 0 30px;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 30px;
  }
  .box-giftPoint-left-li1 {
    font-weight: 600;
  }
  .box-giftPoint-left-li {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
  }
  .box-giftPoint-li-svg {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .box-giftPoint-right {
    flex: 1;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .box-giftPoint-right-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 500px;
    height: 350px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 2px 0 2px rgba(0,0,0,0.5),
    -2px 0 2px rgba(0,0,0,0.5);
  }
  .box-giftPoint-right-li {
    height: 100px;
    width: 400px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #cacaca;
    display: flex;
    flex-direction: column;
  }
  .box-giftPoint-right-p {
    font-size: 16px;
    margin: 0;
    line-height: 30px;
    padding: 4px 10px;
    font-weight: 500;
  }
  .box-giftPoint-right-box {
    flex: 1;
    position: relative;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    line-height: 20px;
  }
  .box-giftPoint-right-box .box-giftPoint-li-svg {
    margin-left: 10px;
  }
  .box-giftPoint-right-label {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 15px;
    align-items: center;
  }
  .box-giftPoint-right-input {
    margin: 0 10px;
    height: 16px;
    width: 16px;
  }
  .box-giftPoint-right-li1 {
    margin-top: 30px;
  }
  .box-giftPoint-right-lastli {
    margin-bottom: 30px;
  }
  .box-giftPoint-right-button {
    border: none;
    height: 30px;
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    right: 80px;
    bottom: 0px;
    background-color: #025048;
    color: #fff;
    font-weight: 600;
  }
  .box-giftPoint-right-button:hover {
    background-color: #05b144;
    cursor: pointer;
    transition: all 0.2s;
  }
.box-giftPoint-left-historyExchange {
  text-decoration: underline;
  color: #014175;
  font-size: 16px;
}
.box-giftPoint-left-historyExchange:hover {
  cursor: pointer;
  color: #0378d7;
}