.userRegist-fullScreen {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/9651224.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}
.userRegist-midBox {
    height: 400px;
    width: 340px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.2),
                -4px 0px 4px rgba(0, 0, 0, 0.2),
                0px 4px 4px rgba(0, 0, 0, 0.2),
                0px -4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #fff;
}
.userRegist-center {
    height: calc(400px - 40px);
    width: calc(340px - 40px);
    display: flex;
    flex-direction: column;
}
.userRegist-nameShop {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    width: 100%;
    text-align: center;
    color: #025048;
}
.userRegist-regist {
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #c1c1c1;
}
.userRegist-ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.userRegist-li {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.userRegist-label {
    font-size: 16px;
    line-height: 40px;
}
.userRegist-input {
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 0 5px;
}
.userRegist-bottom {
    flex: 1;
    position: relative;
}
.userRegist-bottom-button {
    height: 30px;
    width: 100px;
    border-radius: 4px;
    border: none;
    background-color: #025048;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}
.userRegist-bottom-button:hover {
    background-color: #027a6e;
    cursor: pointer;
    transition: all 0.2s ease;
}
.userRegist-bottom-p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-decoration: underline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    color:#0462d6;
    cursor: pointer;
}
.userRegist-bottom-p:hover {
    color: #033775;
    transition: all 0.2s ease;
}
.userRegist-buttonLogin {
    width: 130px;
}
