.fullScreen {
    height: 100vh;
    background-color: rgba(133, 133, 133, 0.2);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
}
.userFeedBack-p {
    border-bottom: 1px solid #c2c2c2;
}
#userFB-textarea {
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 20px;
}
.detail-product-middle-right-box {
    position: relative;
}
.userFB-button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    background-color: #025048;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.userFB-button:hover {
    cursor: pointer;
    background-color: #05b144;
    transition: all 0.2s ease;
}
.userFB-middle-right-box {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    align-items: center;
}
.userFB-middle-right-box p {
    padding: 0 20px;
    margin: 0;
}
.star-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.star-label {
    display: flex;
}