.History-fullBox {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.History-ul {
    height: 360px;
    width: 500px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2),
        -2px 0px 2px rgba(0, 0, 0, 0.2),
        0px 2px 2px rgba(0, 0, 0, 0.2),
        0px -2px 2px rgba(0, 0, 0, 0.2);
    list-style-type: none;
}
.History-fullBox-center {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1240px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    padding: 40px 0;
}
.History-fullBox-title {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 50px;
    position: absolute;
    top: 40px;
    left: 0;
    color: rgba(2, 80, 72, 1);
}
.History-li {
    height: 110px;
    width: 400px;
    border: 1px solid #aeaeae;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px 0;
    box-sizing: border-box;
}
.History-li-gift-name {
    margin: 0;
    font-size: 16px;
    padding: 0 20px;
    line-height: 30px;
    font-weight: 500;
}
.History-li-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
}
.History-li-box-name {
    margin: 0px 5px 0px 5px;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    width: 35%;
}
.History-li-box-date {
    margin: 0 5px;
    font-size: 16px;
    line-height: 40px;
}
.History-li-box-quantity {
    margin: 0px 20px 0px 5px;
    font-size: 16px;
    line-height: 40px;
    text-align: end;
}
.History-li1 {
    margin-top: 30px;
}
.History-lastli {
    margin-bottom: 30px;
}
.History-li-box-p {
    margin: 0 5px 0 20px;
    font-size: 16px;
    line-height: 40px;
}