/* Container chứa hình ảnh */
.main-content {
    position: relative;
    width: 100%; 
    height: 90vh;
    overflow: hidden; 
    margin-top: 110px; 
}

/* Đặt các hình ảnh ở cùng vị trí */
.full-screen-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    animation: slideImages 8s ease-in-out infinite; 
}

/* Animation di chuyển từ trái sang phải */
@keyframes slideImages {
    0% {
        left: -100%; 
    }
    37.5% {
        left: 0%; 
    }
    50% {
        left: 0%; 
    }
    87.5% {
        left: 100%; 
    }
    100% {
        left: 100%; 
    }
}
