/* Lớp chung cho các input và button */
.input-field {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button {
    background-color: #18A5A7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #16a18b;
}

.success-message {
    color: green;
    margin-top: 10px;
}

/* Vùng chứa các phần trong Admin_ManageWorkSchedule_Edit */
.work-schedule-edit-content {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    padding: 20px;
}

/* Vùng 1 - Tạo lịch làm việc */
.schedule-section {
    width: 50%; 
    margin-left: 100px; 
    padding: 20px;
    background: linear-gradient(to bottom, #e0f7fa, #b2ebf2); 
    border-radius: 8px; 
    border: 3px solid #18A5A7; 
}

/* Tiêu đề cho Vùng 1 */
.create-schedule-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #00796b; 
}

/* Vùng 2 - Tạo ca làm việc */
.shift-section {
    width: 35%; 
    margin-right: 80px; 
    padding: 20px;
    background: linear-gradient(to bottom, #fff3e0, #ffccbc); 
    border-radius: 8px; 
    border: 3px solid #f57c00; 
}

/* Tiêu đề cho Vùng 2 */
.create-shift-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #e65100; 
}
