* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header container */
.admin-header {
    width: 100%;
    padding: 0; 
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 1000;
}

/* Hàng đầu tiên */
.admin-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #18A5A7, #BFFFC7);
    padding: 0; 
    color: white;
    height: 65px;  
}

/* Shop name */
.shop-name {
    font-size: 35px;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
    color: white; 
}

.shop-name:hover {
    color: #f0f0f0;
}


/* User info */
.user-info {
    display: flex;
    align-items: center;
}

/* Welcome text */
.welcome-text {
    display: flex;
    min-width: 105px;
    margin-right: 10px;
    color: black;
}

/* Avatar */
.avatar {
    position: relative;
    cursor: pointer;
}

/* Avatar image */
.avatar-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 30px;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: 9999;
}

.dropdown-menu.visible {
    display: block;
}

.dropdown-item {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}



/* Hàng thứ hai */
.admin-header-bottom {
    background: linear-gradient(to right, #18A5A7, #B6C0C5);
    padding: 15px 0;
}

.admin-nav {
    display: flex;
    justify-content: space-around;
    padding: 0; 
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover {
    color: #ffffff;
}
